.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        cats
      %ul.main-header__left-box__member-list
        Member:
        %li.main-header__left-box__member-list__member 
        koneko
    .main-header__edit-btn
      = link_to edit_group_path(@group) do
        Edit
              
  .messages
    .message-data-message_id
      .message__upper-info
        .message__upper-info__talker
          koneko
        .message__upper-info__date
          2019/12/01(sun)12:00:00
      .message__text
        Hello!
    .message-data-message_id
      .message__upper-info
        .message__upper-info__talker
          koneko
        .message__upper-info__date
          2019/12/01(sun)12:00:00
      .message__text
        Good morning!
    .message-data-message_id
      .message__upper-info
        .message__upper-info__talker
          koneko
        .message__upper-info__date
          2019/12/01(sun)12:00:00
      .message__text
        Where are you from?
         
  .form
    %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/9069/messages", :enctype => "multipart/form-data", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "wnunqmLodQ//wYmncquiS9pFgnoIlKZ8B2jhX5wBnBh7hzOpHg0cwn0muN6FgKP3jyD42X754XBAAcXzQtZ7zw=="}/
    .input-box 
      %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
      %label.input-box__image{:for => "message_image"}
        %i.fa.fa-image
        %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
    %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
      
